.error-popup {
    display: none;
}

.error-popup_active {
    position: fixed;
    display: block;
    bottom: 15px;
    right: 15px;
    width: 300px;
    background-color: #202020;
    box-shadow: 0px 0px 37px 14px rgba(186, 15, 53, 0.5);
    border-radius: 10px;
    text-align: center;
    line-height: 27px;
}

.error-popup span {
    
}