.searchForm__shortFilm-tumbler {
    display: flex;
    align-items: center;
    grid-row: 1/2;
    grid-column: 2/3;
    font-size: 13px;
    line-height: 18px;
}

@media (max-width: 580px) {
    .searchForm__shortFilm-tumbler {
        position: absolute;
        bottom: 60px;
        left: calc(50% - 100px);
    }
}

.searchForm__shortFilm-tumbler input {
    position: relative;
    width: 34px;
    height: 14px;
    margin: 0 15px;
    -webkit-appearance: none;
    background-color: #343434;
    border-radius: 30px;
}

.searchForm__shortFilm-tumbler input:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 14px;
    height: 14px;
    border-radius: 14px;
    background-color: #2BE080;
    transition: left .5s;
}

.searchForm__shortFilm-tumbler input:checked:before {
    left: calc(100% - 14px);
}
