.moviesCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
    margin: 20px 0;
    background-color: #2F2F2F;
}

@media (max-width: 580px) {
    .moviesCard {
        flex-direction: column-reverse;
    }
}