/*Подключение Normalize.css*/
@import url(./vendor/normalize.css);

/*Подключение шрифта*/
@import url(./fonts/inter/inter.css);

/*Стили root*/
.root {
    font-family: inter, sans-serif;
    color: #ffffff;
    /* width: 100vw; */
    position: relative;
    overflow: hidden; /*Скрывает Navigation*/
}

/*Стили header*/
@import url(./components/Header/blocks/header.css);
@import url(./components/Header/blocks/__container/header__container.css);
@import url(./components/Header/blocks/__auth/header__auth.css);
@import url(./components/Header/blocks/__logo/header__logo.css);
@import url(./components/Header/blocks/__signin-button/header__signin-button.css);
@import url(./components/Header/blocks/__signup-button/header__signup-button.css);
@import url(./components/Header/blocks/__menu-button/header__menu-button.css);
@import url(./components/Header/blocks/__menu-logo/header__menu-logo.css);
@import url(./components/Header/blocks/__nav-links/header__nav-links.css);

/*Стили footer*/
@import url(./components/Footer/blocks/footer.css);
@import url(./components/Footer/blocks/__text-about/footer__text-about.css);
@import url(./components/Footer/blocks/__links/footer__links.css);
@import url(./components//Footer/blocks/__link/footer__link.css);

/*Стили promo*/
@import url(./components/Promo/blocks/promo.css);
@import url(./components/Promo/blocks/__container/promo__container.css);
@import url(./components/Promo/blocks/__description/promo__description.css);
@import url(./components/Promo/blocks/__text/promo__text.css);
@import url(./components/Promo/blocks/__read-more-button/promo__more-button.css);
@import url(./components/Promo/blocks/__landing-logo/promo__landing-logo.css);

/*Стили about project*/
@import url(./components/AboutProject/blocks/aboutProject.css);
@import url(./components/AboutProject/blocks/__container/aboutProject__container.css);
@import url(./components/AboutProject/blocks/__title/aboutProject__title.css);
@import url(./components/AboutProject/blocks/__grid/aboutProject__grid.css);
@import url(./components/AboutProject/blocks/__grid-title/aboutProject__grid-title.css);
@import url(./components/AboutProject/blocks/__text/aboutProject__text.css);
@import url(./components/AboutProject/blocks/__track/aboutProject__track.css);

/*Стили promo*/
@import url(./components/Techs/blocks/techs.css);
@import url(./components/Techs/blocks/__container/techs__container.css);
@import url(./components/Techs/blocks/__title/techs__title.css);
@import url(./components/Techs/blocks/__subtitle/techs__subtitle.css);
@import url(./components/Techs/blocks/__text/techs__text.css);
@import url(./components/Techs/blocks/__techs-list/techs__techs-list.css);
@import url(./components/Techs/blocks/__techs-item/techs__techs-item.css);

/*Стили AboutMe*/
@import url(./components/AboutMe/blocks/about-me.css);
@import url(./components/AboutMe/blocks/__container/about-me__container.css);
@import url(./components/AboutMe/blocks/__title/about-me__title.css);
@import url(./components/AboutMe/blocks/__student-name/about-me__student-name.css);
@import url(./components/AboutMe/blocks/__description/about-me__description.css);
@import url(./components/AboutMe/blocks/__text/about-me__text.css);
@import url(./components/AboutMe/blocks/__link/about-me__link.css);
@import url(./components/AboutMe/blocks/__photo/about-me__photo.css);

/*Стили Portfolio*/
@import url(./components/Portfolio/blocks/portfolio.css);
@import url(./components/Portfolio/blocks/__container/portfolio__container.css);
@import url(./components/Portfolio/blocks/__title/portfolio__title.css);
@import url(./components/Portfolio/blocks/__link/portfolio__link.css);

/*Стили SearchForm*/
@import url(./components/SearchForm/blocks/SearchForm.css);
@import url(./components/SearchForm/blocks/__container/searchForm__container.css);
@import url(./components/SearchForm/blocks/__form/searchForm__form.css);
@import url(./components/SearchForm/blocks/__ico/searchForm__ico.css);
@import url(./components/SearchForm/blocks/__search-string/searchForm__search-string.css);
@import url(./components/SearchForm/blocks/__submit-button/searchForm__submit-button.css);
@import url(./components/SearchForm/blocks/__shortFilm-tumbler/searchForm__shortFilm-tumbler.css);
@import url(./components/SearchForm/blocks///__background/searchForm__background.css);

/*Стили moviesCardList*/
@import url(./components/MoviesCardList/blocks/moviesCardList.css);
@import url(./components/MoviesCardList/blocks/__container/moviesCardList__container.css);
@import url(./components/MoviesCardList/blocks/__more-button/movieCardList__more-button.css);

/*Стили moviesCard*/
@import url(./components/MoviesCard/blocks/moviesCard.css);
@import url(./components/MoviesCard/blocks/__movie-logo/movieCard__movie-logo.css);
@import url(./components/MoviesCard/blocks/__movie-info/moviesCard__movie-info.css);
@import url(./components/MoviesCard/blocks/__movie-name/moviesCard__movie-name.css);
@import url(./components/MoviesCard/blocks/__movie-duration/moviesCard__movie-duration.css);
@import url(./components/MoviesCard/blocks/__like-button/moviesCard__like-button.css);

/*Стили Register*/
@import url(./components/Register/blocks/register.css);
@import url(./components/Register/blocks/__container/register__container.css);
@import url(./components/Register/blocks/__register-logo/register__register-logo.css);
@import url(./components/Register/blocks/__title/register__title.css);
@import url(./components/Register/blocks/__form/register__form.css);
@import url(./components/Register/blocks/__input/register__input.css);
@import url(./components/Register/blocks/__submit-button/register__submit-button.css);

/*Стили Login*/
@import url(./components/Login/blocks/login.css);
@import url(./components/Login/blocks/__container/login__container.css);
@import url(./components/Login/blocks/__login-logo/login__login-logo.css);
@import url(./components/Login/blocks/__title/login__title.css);
@import url(./components/Login/blocks/__form/login__form.css);
@import url(./components/Login/blocks/__input/login__input.css);
@import url(./components/Login/blocks/__submit-button/login__submit-button.css);

/*Стили Page404*/
@import url(./components/Page404/blocks/page404.css);
@import url(./components/Page404/blocks/__error-code/page404__error-code.css);
@import url(./components/Page404/blocks/__description/page404__description.css);
@import url(./components/Page404/blocks/__back-link/page404__back-link.css);

/*Стили Navigation*/
@import url(./components/Navigation/blocks/navigation.css);
@import url(./components/Navigation/blocks//__link/navigation__link.css);
@import url(./components/Navigation/blocks/__menu-logo/navigation__menu-logo.css);
@import url(./components/Navigation/blocks/__close-button/navigation__close-button.css);